.sidebarrow{
    display: flex;
    align-items: center;
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.sidebarrow:hover {
    background-color: rgb(53, 54, 58);
    cursor: pointer;
}

.sidebarrow__logo {
    color: white;
}

.sidebarrow:hover .sidebarrow__logo {
    color: red;
}

.sidebarrow__title{
    margin-left: 20px;
}